header,
main,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0px 0px 0px;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0px 20px 0px;
}

body {
    background-color: #0c2e1e;
    font-family: 'Montserrat', sans-serif;
    color: #90B5A0;
}

a {
    color: #90B5A0;  
    text-decoration: none;
  }

a:hover {
    color: white;
    text-decoration: underline;
  }

img {
  max-width: 100%;
  height: auto;
}

.avatar {
  img {
    height:200px;
    margin: 30px 0px 0px 0px;
  }
}

.avatar:hover {
  img {
    opacity: 0.6;
  }
}

.intro {
  img {
    height: 20px;
    margin: 0px 5px 0px 0px;
  }
}

.listeboutons {
  display: flex;
  flex-direction: column;
}

.bouton {
    background: #0F7543;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0px 0px 15px 0px;
    img {
      height: 20px;
      margin: 0px 5px 0px 0px;
    }
  }
  
.bouton:hover {
    background: #0F7543;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-decoration: none;
  }

.bouton:active {
  background: #7A5525;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6em;
  font-weight: normal;
  margin: 30px;
}